* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: #444444;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.nav {
    padding: 10px;
    width: 100%;
    align-items: center;
    list-style-type: none;
    background-color: #000;
}

.logo {
    font-size: 35px;
    letter-spacing: 2px;
    margin: 5px 40px;
}

.nav a {
    color: #fff;
}

.menu-nav {
    position: relative;
}

.menu-nav li {
    padding: 5px;
    text-align: center;
}

.menu-nav li a {
    font-size: 15px;
    margin: 0 10px;
    transition: .5s;
}

.item a:hover {
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

.top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
}

.title {
    display: block;
    position: absolute;
    top: 10px;
    margin: 10px 5px 20px 8px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.columna-1 {
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    margin-bottom: 20px;
}

.articulo-1 {
    position: relative;
    margin: 10px 10px 0 10px;
    width: 250px;
    min-height: 160px;
    border-radius: 5px;
    background: #ececec;
    padding: 10px;
    overflow: hidden;
}

.articulo-1>a>img {
    position: absolute;
    border-radius: 5px;
    height: 160px;
    left: 0;
    bottom: 0;
}

.articulo-1>a>img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.articulo-1>:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.5);
}

.articulo-1>h3 {
    position: absolute;
    top: 5px;
}

.link {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    padding: 8px 8px 5px 8px;
    border-radius: 5px;
}

.link a {
    color: #fff;
}

.columna-2 {
    position: relative;
}


/* Aside */

.aside-link>a {
    background: repeating-linear-gradient(to right, #04f7ff 0, #5350f7 50%, #04f7ff 100%);
    background-size: 200% 200%;
    background-position: 0 100%;
    animation: gradient 2s linear infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}


/* Footer */

footer {
    text-align: center;
    padding: 15px;
    background: #000000e5;
}

footer p {
    padding-top: 10px;
    text-transform: uppercase;
    color: #fff;
}

.icon-social {
    margin: 10px 0;
}

.icon-social a {
    background-color: #000;
    padding: 10px;
    color: #fff;
    margin: 0 3px;
    font-size: 20px;
    border-radius: 25px;
}

.icon-social a:hover {
    color: rgb(78, 78, 78);
}

.icon {
    display: block;
    font-size: 30px;
    float: right;
    top: 12px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
}

.active {
    display: block !important;
}

@media only screen and (max-width: 361px) {
    body {
        background-color: lightblue;
    }
    .menu-nav {
        display: none;
        position: relative;
    }
    .title {
        width: 250px !important;
    }
    .columna-1 {
        margin-top: 100px;
        width: 90%;
    }
    .columna-2 {
        width: 86%;
        margin-bottom: 5px;
        background: #000;
    }
    .articulo-1 {
        width: 350px;
    }
    .data {
        background-color: #fff;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
    }
    .aside-title {
        position: relative;
        margin: 0 10px;
        text-align: center;
    }
    .aside-title>h1 {
        text-transform: uppercase;
        font-size: 20px;
    }
    .aside-link {
        margin: 20px;
        text-align: center;
    }
    .aside-link>a {
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 25px;
        color: #fff;
    }
}

@media only screen and (max-width: 641px) {
    body {
        background-color: lightblue;
    }
    .menu-nav {
        display: none;
        position: relative;
    }
    .title {
        width: 250px !important;
    }
    .columna-1 {
        margin-top: 100px;
        width: 90%;
    }
    .columna-2 {
        width: 86%;
        margin-bottom: 5px;
        background: #000;
    }
    .articulo-1 {
        width: 250px;
    }
    .data {
        background-color: #fff;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
    }
    .aside-title {
        position: relative;
        margin: 0 10px;
        text-align: center;
    }
    .aside-title>h1 {
        text-transform: uppercase;
        font-size: 20px;
    }
    .aside-link {
        margin: 20px;
        text-align: center;
    }
    .aside-link>a {
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 25px;
        color: #fff;
    }
}

@media only screen and (min-width: 769px) {
    .nav {
        display: flex;
    }
    .icon {
        display: none;
    }
    .menu-nav li {
        display: inline-block;
    }
    .columna-1 {
        width: 62%;
    }
    .columna-2 {
        margin-top: 90px !important;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: 30%;
        border-radius: 5px;
        background: #000;
    }
    .data {
        background-color: #fff;
        margin: 10px;
        padding: 20px;
        border-radius: 5px;
    }
    .aside-title {
        position: relative;
        margin: 0 30px;
        text-align: center;
    }
    .aside-title>h1 {
        text-transform: uppercase;
        font-size: 30px;
    }
    .aside-link {
        margin: 20px;
        text-align: center;
    }
    .aside-link>a {
        font-size: 30px;
        padding: 5px 10px;
        border-radius: 25px;
        color: #fff;
    }
}